<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">Enchères</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_evenement_enchere_index') }}">Événements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_lot_index') }}">Lots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_utilisateur_index') }}">Utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_enchere_utilisateur_index') }}">Enchères</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
